/* Text */
h1, h2, h3 , h4, h5, h6 {
font-family: 'Merriweather', serif;
}
p {
font-family: 'Merriweather Sans', sans-serif;
}

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;;
  background-color: #8FAB9A !important;
  background-size: cover;
  z-index: 10;
  font-family: 'Merriweather Sans', sans-serif;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background-color: #8FAB9A !important;
  background-size: cover;
  color: #F2F2F2;
}
.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background: #793F94;
}

/* Navigation links */
.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
  background-color: #793F94;
  border-color: #793F94;
}

/* Jumbotron  */
.jumbotron {
  background-image: url("/Users/laurentofflemire/Documents/00-MyCode/Week 21/images/nick-fewings-85ErqmltV0o-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron1 {
    background-image: url("/Users/laurentofflemire/Documents/00-MyCode/Week 21/images/krystina-rogers-5aXEo-hGwU0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.jumboTIPS {
    background-image: url("/Users/laurentofflemire/Documents/00-MyCode/Week 21/images/icee-dc-q8I3Jeph4uU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}

.heroCTA {
    background-color: #793F94;
    border-color: #793F94;
}

/* Accordian */
.accordion {
    background-color: #8FAB9A !important;
}

.card-body {
    font-family: 'Merriweather Sans', sans-serif;
}

.btn-link {
    font-family: 'Merriweather', serif;
    text-decoration: none;
    font-size: 35px;
    color: black;
}

/* Cards */
.content {
  padding: 50px;
}
.sectionHeading {
  text-align: center;
}
.showsNear  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
}

.cardCTA {
background-color: #793F94 !important;
border-color: #793F94;
}

/* Content */
.sideAccent {
  background: #007bff;
  width: 15px;
}
.imageContainer img {
  width: 100%;
}
.imageContainer {
  padding: 50px;
}
.valueProp {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Footer */
.emailContain {
  background: url("/Users/laurentofflemire/Documents/00-MyCode/Week 21/images/pexels-karolina-grabowska-4622976.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

/* Footer form */
form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: -97px;
}
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
